BlurWindow==1.2.1
eyeGestures==2.1.0
IconMatch==0.2.0
numpy==1.23.4
opencv_contrib_python==4.9.0.80
opencv_python==4.6.0.66
PyAutoGUI==0.9.54
PySide2==5.15.2.1
scikit_learn==1.4.1.post1
screeninfo==0.8.1
mediapipe==0.10.8